<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="index::base(~{::body})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http	-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
    
    .card{
    box-shadow: 18px 15px 5px grey;
    }

    </style>
</head>
<body class="bg-dark text-center">
<div style="margin-left: 450px;">
    


    <div class="card  text-danger fw-bold m-2 mt-4 p-2 text-center border-danger" style="width: 500px;line-height: 40px;border-radius: 50px	; background-color: pink;">
        <div class="card-header">
            <h3>Edit Contact</h3> 
        </div>
       
        <div class="card-body ">
         <div class="text-center text-white">
    <h5 style="font-weight: bold; font-family: cursive;color: black"><span th:text="${editMsg}"></span></h5>
    </div>

            <form th:action="@{/management/edit/submit}" method="post" th:object="${cm}" >
                <div>
                     <label for="cId">
                         Contact Id
                     </label>
                     <div>
                         <input readonly="readonly" type="text" class="form-control " th:field="*{cId}" >
                     </div>  
         
                </div>
                
                <div>
                     <label for="cName">
                         Contact Name 
                     </label>
                     <div>
                         <input type="text" class="form-control " th:field="*{cName}" >
                     </div>  
         
                </div>
         
                <div>
                    <label for="cNickName">
                      Nick Name 
                    </label>
                     <div id="input">
                         <input class="form-control" type="text" th:field="*{cNickName}">
                     </div>
                 </div>
         
                  
         
                <div>
                     <label for="cNo" >
                         Contact Number 
                     </label>
                     <div>
                       <input class="form-control " type="number" th:field="*{cNo}"  >
                      </div>
                </div>
         
                 <div>
                     <label  for="dest">
                         Contact Destination 
                     </label>
                     <div>
                       <input class="form-control " type="text" th:field="*{dest}" >
                     </div>
                 </div>
         
         
                 <div>
                     <div>
                     <label>About</label>
                     </div>
                     <textarea rows="1" cols="57" th:field="*{about}" ></textarea>
                 </div>
         
                 <button onclick="alert('Updated Succesfullly')" class="btn btn-dark w-100 mt-2" >Update</button>
             </form>
           
        </div>
       
    
    </div>
    
   
</div> 
    
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
   
</body>
</html>

</body>
</html>